<div class="row">
  <div class="card">
    <div class="card-header">
      <!-- <img class="card-img" src="../assets/img/square1.png" alt="Card image" /> -->
      <h4 class="card-title">{{ video.title }}</h4>
    </div>
    <div class="card-body">
      <!-- <ng-container *ngIf="video.author">
        <h4></h4>
      </ng-container> -->
      <p>{{ video.description }}</p>
      <ng-container>
        <!-- width="777" height="437"
             width="640" height="385"
         -->
        <iframe width="442" height="248" [src]="safeUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ng-container>
    </div>
    <div class="card-footer">
      <!-- <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Watch</a> -->
    </div>
  </div>
</div>
